
/*  TYPOGRAPHY  */

h1 {
    font-size: 36px;
    line-height: 44px;
}

/*  BUTTONS  */

.btn {
    margin-top: 15px;
    cursor: pointer;
}

/*  TITLE CLASS  */

.head {
    background-color: #BDBDBD;
    border-bottom: 2px solid #000;
    margin-top: 100px;
}

/*  HERO CLASS  */

.head, 
.hero {
    padding: 15px 25px;
    text-align: center;
}

#hero {
    background-color: #098787;
    transition: background-color 1s;
}

.hero #quote {
    font-size: 36px;
    margin-top: 55px;
    padding-bottom: 25px;
    color: #fff;
}

/*  FOOTER  */
footer h4 {
    text-align: center;
}

.btn a {
    text-decoration: none;
    color: black;
}